body {
	background-color: #f9f9f9;
	padding-top: 50px;
}

footer {
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	padding: 40px 0;
	margin-top: 40px;
	color: #999;
}

footer p {
	clear: left;
	margin-bottom: 0;
}

footer li {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

footer > div > div > div.col-lg-12.exception {
	margin-top: 15px;
}

footer > div > div > div.col-lg-12.exception p {
	padding-bottom: 5px; 
}

form fieldset {
	margin-bottom: 10px;
}
form fieldset legend {
	font-size: 15px;
}

.headline {
	margin-top: 0;
	overflow: hidden;
}
.headline h3 {
	margin-top: 0;
}
.headline hr {
	margin-top: 0px !important;
}

.breadcrumb {
	background-color: #ecf0f1 !important;
	margin-top: 20px;
}

.breadcrumb > li + li:before {
	content: ">\00a0" !important;
}

.breadcrumb > li > i {
	color: #428bca;
}

.pagination {
	margin: 0 !important;
}

.container .center {
  padding: 40px 15px;
  text-align: center;
}

.col-pad-5 {
	padding: 0px !important;
	padding-right: 5px !important;
}
.col-pad-5:last-child {
	padding: 0 !important;
}

.tab-content {
	border: 1px solid #e3e3e3;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	padding: 19px;
	min-height: 20px;
}

.nav > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse .navbar-nav > li > span {
	color: #fff;
}

.framed > img {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 1px;
}

.left {
	float: left;
}
.right {
	float: right;
}
.left.offset, .right.offset {
	margin-left: 5px;
}

.iconFlag {
	margin-right: 5px;
}

.bg-info {
background-color: #d9edf7 !important;
}

div.alert {
	position: relative;
	padding: 11px 14px 11px 48px !important;
}
div.alert:after {
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 0;
	display: inline-block;
	height: 24px;
	left: 13px;
	position: absolute;
	top: 50%;
	width: 24px;

	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
div.alert-warning:after {
	content: "\e101";
}
div.alert-info:after {
	content: "\e086";
}
div.alert-danger:after {
	content: "\e083";
}
div.alert-success:after {
	content: "\e084";
}

div.alert-question {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
div.alert-question:after {
	content: "\e085";
}

div.alert-default {
	color: #555;
	background-color: #f5f5f5;
	border-color: #ddd;
}
div.alert-default:after {
	content: "\e086";
}